@font-face {
    font-family: 'Lexend Deca';
    src: url('assets/fonts/Lexend_Deca/static/LexendDeca-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Big Shoulders';
    src: url('assets/fonts/Big_Shoulders/static/BigShoulders-Regular.ttf');
    font-weight: 700;
}

body{
    background-color: hsl(0, 0%, 95%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    padding: 50px;
    padding-left: 250px;
    padding-right: 250px;
}

.cars{
    display: flex;
    overflow: hidden;
    height: 70vh;
    border-radius: 10px;
}

.carte {
    flex: 1;
    padding: 40px;
}
/* colors */
.sedans{
    background-color:hsl(31, 77%, 52%);
}
.suvs{
    background-color: hsl(184, 100%, 22%);
}
.luxury{
    background-color: hsl(179, 100%, 13%);

}

.carte h1 {
    font-size: 50px;
    font-family:'Big Shoulders' ;
    color: hsl(0, 0%, 95%);
}

.carte p{
    font-family: 'Lexend Deca';
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
}

.carte button{
    border-radius: 30px;
    border:none;
    padding: 10px;
    cursor: pointer;
    font-family: 'Lexend Deca';
    margin-top: 30px;
}

.carte button:hover{
    transform: scale(1.05);
    transition: 0.5s;
    border:solid white;
    color: hsla(0, 0%, 100%, 0.75);
    background-color: transparent;
}

.sedans button{
    color: hsl(31, 77%, 52%);
}

.suvs button{
    color:hsl(184, 100%, 22%);
}

.luxury button{
    color:hsl(179, 100%, 13%) ;
}